
.idea/Fundamentals-Java.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
01. Basic Syntax, Conditional Statements and Loops/Exercise/Exercise4.iml
01. Basic Syntax, Conditional Statements and Loops/Lab/Lab4.iml
02. Data Types and Variables/Exercise/Exercise6.iml
02. Data Types and Variables/Lab/Exercise/Exercise.iml
02. Data Types and Variables/Lab/Lab8.iml
03. Arrays/Exercise/Exercise5.iml
03. Arrays/Exercise/Lab/Lab7.iml
03. Arrays/Lab/Lab3.iml
04. Methods/Exercise/Exercise2.iml
04. Methods/Lab/Lab6.iml
05. Lists/Exercise/Exercise7.iml
05. Lists/Lab/Lab5.iml
06. Objects and Classes/Exercise/02. Articles/02. Articles.iml
06. Objects and Classes/Exercise/03. Opinion Poll/03. Opinion Poll.iml
06. Objects and Classes/Exercise/04. Articles 2.0/04. Articles 2.0.iml
06. Objects and Classes/Exercise/05. Students/05. Students.iml
06. Objects and Classes/Exercise/06. Vehicle Catalogue/06. Vehicle Catalogue.iml
06. Objects and Classes/Exercise/07. Order by Age/07. Order by Age.iml
06. Objects and Classes/Exercise/Exercise9.iml
06. Objects and Classes/Lab/Lab.iml
07. Maps, Lambda and Stream API - Lab/Exercise/Exercise8.iml
07. Maps, Lambda and Stream API - Lab/Lab/Lab1.iml
08. Text Processing/Exercise/Exercise1.iml
08. Text Processing/Lab/Lab2.iml
09. Regular Expressions/Exercise/Exercise3.iml
09. Regular Expressions/Lab/Lab9.iml
10. Course exams/Final exam 09.08.2020/Final exam 09.08.2020.iml
10. Course exams/Online Mid exam 05.07.2020/Online Mid exam 05.07.2020.iml
10. Course exams/Retake Final exam 15.08.2020/Retake Final exam 15.08.2020.iml
11. Exams practice/Final Exams/Final Exam - 03 August 2019 Group 1/Final Exam - 03 August 2019 Group 1.iml
11. Exams practice/Final Exams/Final Exam - 03 August 2019 Group 2/Final Exam - 03 August 2019 Group 2.iml
11. Exams practice/Final Exams/Final Exam - 07 December 2019 Group 1/Final Exam - 07 December 2019 Group 1.iml
11. Exams practice/Final Exams/Final Exam - 07 December 2019 Group 2/Final Exam - 07 December 2019 Group 2.iml
11. Exams practice/Final Exams/Final Exam - 14 April 2019 Group I/Final Exam - 14 April 2019 Group I.iml
11. Exams practice/Final Exams/Final Exam - 14 April 2019 Group II/Final Exam - 14 April 2019 Group II.iml
11. Exams practice/Final Exams/Final Exam 04 April 2020 Group 2/Final Exam 04 April 2020 Group 2.iml
11. Exams practice/Final Exams/Final Exam 04 April 2020/Final Exam 04 April 2020.iml
11. Exams practice/Final Exams/Final Exam 13 December 2019/Final Exam 13 December 2019.iml
11. Exams practice/Final Exams/Final Exam Preparation - 24 July 2019/Final Exam Preparation - 24 July 2019.iml
11. Exams practice/Final Exams/Final Exam Retake - 09 August 2019/Final Exam Retake - 09 August 2019.iml
11. Exams practice/Final Exams/Final Exam Retake 10.04.2020/Final Exam Retake 10.04.2020.iml
11. Exams practice/Mid Exams/Mid Exam - 02 November 2019 Group 1/Mid Exam - 02 November 2019 Group 1.iml
11. Exams practice/Mid Exams/Mid Exam - 02 November 2019 Group 2/Mid Exam - 02 November 2019 Group 2.iml
11. Exams practice/Mid Exams/Mid Exam - 10 March 2019 Group 1/Mid Exam - 10 March 2019 Group 1.iml
11. Exams practice/Mid Exams/Mid Exam - 10 March 2019 Group 2/Mid Exam - 10 March 2019 Group 2.iml
11. Exams practice/Mid Exams/Mid Exam - 29 February 2020 Group 1/Mid Exam - 29 February 2020 Group 1.iml
11. Exams practice/Mid Exams/Mid Exam - 29 February 2020 Group 2/Mid Exam - 29 February 2020 Group 2.iml
11. Exams practice/Mid Exams/Mid Exam - 30 June 2019 Group 1/Mid Exam - 30 June 2019 Group 1.iml
11. Exams practice/Mid Exams/Mid Exam - 30 June 2019 Group 2/Mid Exam - 30 June 2019 Group 2.iml
11. Exams practice/Mid Exams/Mid Exam Retake - 06 August 2019/Mid Exam Retake - 06 August 2019.iml
11. Exams practice/Mid Exams/Mid Exam Retake - 10 December 2019/Mid Exam Retake - 10 December 2019.iml
11. Exams practice/Mid Exams/Mid Exam Retake 07 April 2020/Mid Exam Retake 07 April 2020.iml
11. Exams practice/Mid Exams/Retake Mid Exam - 16 April 2019/Retake Mid Exam - 16 April 2019.iml
